/* Contenedor principal */
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url("/assets/img/background-home.png");
  background-size: cover;
}

/* Formulario de jugador */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

input[type="text"],
select,
button[type="submit"] {
  width: 80%;
  max-width: 320px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
  border-color: #57ff94;
}

/* Botón de jugar */
button[type="submit"] {
  color: #fff;
  background-color: #57ff94;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45d07f;
}

/* Sección de ranking */
.ranking {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(249, 249, 249, 0.4);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos del ranking como podio */
.podium {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.podium-box {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px 8px 0 0;
  padding: 10px 5px;
  text-align: center;
}

.podium-name {
  max-width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.podium-score {
  font-size: 14px !important;
}

/* Alturas y colores de cada posición en el podio */
.podium-box.first {
  background-color: #ffd700;
  height: 250px;
}

.podium-box.second {
  background-color: #c0c0c0;
  height: 220px;
}

.podium-box.third {
  background-color: #cd7f32;
  height: 200px;
}

/* Estilos de moneda para la posición */
.podium-box .position {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra de texto para profundidad */
  animation: spin 4s infinite linear; /* Aplica la animación de giro */
}

/* Animación de giro en 3D */
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Efecto 3D y color específico para cada posición */
.podium-box.first .position {
  background: radial-gradient(circle at 30% 30%, #ffeb3b, #c6a700); /* Dorado */
  border: 2px solid #d4af37;
}

.podium-box.second .position {
  background: radial-gradient(
    circle at 30% 30%,
    #e0e0e0,
    #9e9e9e
  ); /* Plateado */
  border: 2px solid #b0b0b0;
}

.podium-box.third .position {
  background: radial-gradient(circle at 30% 30%, #cd7f32, #8c5a2b); /* Bronce */
  border: 2px solid #8c5a2b;
}

/* Centrado para pantallas de escritorio */
@media (min-width: 768px) {
  #app {
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffff;
  }
}
